:root {
    --intro-and-email-signup: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --open-sans: 'Open Sans', sans-serif;
    --light: hsl(0, 0%, 100%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%)
}

.m-0{
    margin: 0 !important;
}

.bg-cyan {
    background-color: var(--cyan);
    border: none;
    color: var(--light);
}

.bg-blue {
    background-color: var(--blue);
    border: none;
    color: var(--light);
}

.btn {
    display: block;
    max-width: 250px;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto;
}

body {
    background-color: var(--main-background);
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 500px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    height: 50px;
}

#header-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    list-style: none;
    text-align: center;
    font-size: 1em;
}

#header-list a {
    color: var(--light);
    text-decoration: none;
}

.main-img img {
    width: 100%;
    margin-top: 1em;
}

#main-info {
    height: calc(100vh - 50px);
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
    text-align: center;
}

#features {
    margin-bottom: 12em;
    padding-top: 2em;
}

.feature {
    width: 90%;
    margin: 0 auto 6rem;
    text-align: center;
}

#stay-productive {
    margin: 0 auto 12rem;
}

#stay-productive h2 {
    font-size: 1.4em;
}

#stay-productive_link {
    width: 130px;
}

#stay-productive_link small {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stay-productive_link a {
    color: var(--cyan);
    text-decoration: none;
}

#stay-productive_link hr {
    border-color: var(--cyan);
}

#testimonials {
    width: 250px;
    margin: 0 auto;
    padding-top: 2em;
}

#testimonials-fig {
    margin: 0;
}

#testimonials-fig img {
    width: 20px;
    margin-left: 10px;
}

.testimonial {
    padding: 20px 20px;
    margin-bottom: 6em;
    background-color: var(--testimonials-background);
    font-size: .8em;
    border-radius: 5px;
}

.testimonial p {
    line-height: 1.5em
}

.testimonial-profile {
    display: flex;
    align-items: center;
}

.testimonial-profile img {
    width: 30px;
    border-radius: 50%;
}

.testimonial-profile_description {
    margin-left: 1em;
}

.testimonial-profile_description h3 {
    margin: .3em auto;
}

#get-started {
    padding-top: 2em;
    transform: translateY(150px);
}

#get-started_container {
    text-align: center;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--intro-and-email-signup);
    padding: 2em 1.5em;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.52);
}

.input {
    margin: 2em auto 1.2em;
    border: none;
    padding-left: 30px;
    width: 220px;
}

.input::-webkit-input-placeholder {
    color: lightgray;
    font-size: .6em;
}

.input::-moz-placeholder {
    color: lightgray;
    font-size: .6em;
}

/* firefox 19+ */

.input:-ms-input-placeholder {
    color: lightgray;
    font-size: .6em;
}

#footer {
    background-color: var(--footer-background);
    padding: 16em 2em 4em ;
}

.footer_info{
    display: flex;
}
